<admin-header></admin-header>
<div class="container">
	<div class="row">
		<div class="col-md-10">
			<h2>Forms List</h2>
		</div>
		<div class="col-md-2">
			<a ui-sref="admin.addform" class="btn btn-primary">Add Form</a>
		</div>
	</div>
	<table st-table="displayedForms" st-safe-src="forms" class="table table-hover table-bordered">
		<thead>
			<tr>
				<th>Form Name</th>
				<th>Description</th>
				<th style="width:10%">Status</th>
				<th style="width:10%">Number of fields</th>
				<th style="width:10%">Operations</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key,row) in displayedForms">
				<td>{{ row.name }}</td>
				<td>{{ row.description }}</td>
				<td class="text-center"><span class="label" ng-class="{'label-success': row.status, 'label-danger': !row.status}">{{ (row.status) ? 'Enabled' : 'Disabled' }}</span></td>
				<td class="text-center"><span class="badge">{{ row.fieldCounter }}</span></td>
				<td class="text-center">
					<a ui-sref="admin.editform({id:row.id})" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true" uib-tooltip="Edit"></span></a> <a ng-click="delete(row.id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true" uib-tooltip="Delete"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

