<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" ui-sref="admin.listforms">{{ config.system_name }}</a>
	</div>
	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav">
			<li ui-sref-active-if="admin.listforms"><a ui-sref="admin.listforms">Forms</a></li>
			<li ui-sref-active-if="admin.dictionaries"><a ui-sref="admin.dictionaries">Dictionaries</a></li>
			<li ui-sref-active-if="admin.fpagesList"><a ui-sref="admin.fpagesList">Front pages</a></li>
			<li ui-sref-active-if="admin.fmenuList"><a ui-sref="admin.fmenuList">Front menu</a></li>
			<li ui-sref-active-if="admin.sConfig"><a ui-sref="admin.sConfig">System config</a></li>
			<li ui-sref-active-if="admin.users"><a ui-sref="admin.users">Users</a></li>
			<li ui-sref-active-if="admin.roles"><a ui-sref="admin.roles">Roles</a></li>
			<li ui-sref-active-if="admin.permissions"><a ui-sref="admin.permissions">Permissions</a></li>
			<li class="divider-vertical"></li>
			<li uib-dropdown ui-sref-active-if="admin.data">
				<a uib-dropdown-toggle>Data <span class="caret"></span></a>
				<ul class="dropdown-menu" role="menu" ng-if="dataItems.length">
					<li ng-repeat="item in dataItems"><a ui-sref="admin.data({id:item.uniqId})">{{ item.name }}</a></li>
				</ul>
			</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a ui-sref="admin.logout">Logout</a></li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>

