<admin-header></admin-header>
<div class="container">
	<h4>Roles<a ng-click="addRecord()" class="btn btn-primary btn-sm pull-right">Add Role</a></h4>
	<table class="table table-hover table-bordered" st-table="displayedroles" st-safe-src="roles">
		<thead>
			<tr>
				<th>Name</th>
				<th style="width:10%">Status</th>
				<!-- <th>Quantity</th> -->
				<th style="width:10%">Operations</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="item in displayedroles">
				<td>{{ item.role }}</td>
				<td class="text-center"><span class="label" ng-class="{'label-success': item.status, 'label-danger': !item.status}">{{ (item.status) ? 'Enabled' : 'Disabled' }}</span></td>
				<!-- <td>{{ item.qty }}</td> -->
				<td class="text-center">
					<a ng-click="editRecord(item.id)" class="btn btn-primary btn-xs"><span class="glyphicon glyphicon-pencil" aria-hidden="true" uib-tooltip="Edit"></span></a>
					<a ng-click="deleteRecord(item.id)" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-remove" aria-hidden="true" uib-tooltip="Delete"></span></a>
				</td>
			</tr>
		</tbody>
	</table>
</div>

